# Python Cache
__pycache__/
*.pyc

# Virtual Environment
venv/

# Backup Outputs
output/
*.tar.gz
*.dump

# Temporary
/tmp/
# Konfigurationsdateien mit Passwörtern
backup.yaml
config/*.yaml

# Logdateien
*.log
logs/
